﻿@model NovelLibrary.DataAccess.Chapter

@{
    ViewData["Title"] = "ReadChapter";
    Layout = "~/Views/Shared/_LayoutNovel.cshtml";
}
<div class="container">
    <h1>ReadChapter</h1>

    <div>
        <div id="carouselExampleControlsNoTouching"
             class="carousel slide"
             data-bs-touch="false">
            @if (@ViewBag.Image != null)
            {
                <img src="data:image;base64,@System.Convert.ToBase64String(@ViewBag.Image.ImageData)"
                 class="d-block w-100"
                 alt="..."
                 width=auto
                 height="100%"
                 style="background-size: cover" />
            }
            <h3>@Model.Name</h3>
            @if (!string.IsNullOrWhiteSpace(Model.Contents))
            {
                var lines = Model.Contents.Split(new[] { '\r','\n' }, StringSplitOptions.RemoveEmptyEntries);
                foreach (var line in lines)
                {
                    <p>@line</p>
                }
            }



        </div>
        <div class="d-flex justify-content-center">
            @if (Model.Indexs != 1)
            {
                <a class="btn btn-primary" href="@Url.Action("ReadChapter","Chapter",new{id = Model.Id, index = Model.Indexs - 1})">Previous chapter</a>
            }
            |
            @if (ViewBag.CountIndex > Model.Indexs)
            {
                <a class="btn btn-primary" href="@Url.Action("ReadChapter","Chapter",new{id = Model.Id, index = Model.Indexs + 1})">Next chapter</a>
            }
        </div>
        <div>
            <a class="btn btn-primary" href="@Url.Action("Details","Novels",new{id = Model.NovelId})">Back to Novel details</a>
        </div>
    </div>
</div>
