﻿@model NovelLibrary.DataAccess.DTO.RegisterUserDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous" />
</head>
<body style="
      background-image: url('https://images.unsplash.com/photo-1587614382346-4ec70e388b28?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
      background-size: cover;
    ">
    <div class="container-fluid mh-100 d-flex align-items-center justify-content-center"
         style="height: 100vh">
        <div class="w-25 justify-content-center bg-light rounded">
            <div class="m-5">
                <div class="w-50 mx-auto bg-danger rounded text-light text-center"
                     style="margin-bottom: 30px">
                    <h3 class="p-1">Register</h3>
                </div>
                @using (Html.BeginForm("Register", "Authen", FormMethod.Post,
                new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label asp-for="RePassword" class="control-label"></label>
                        @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                        @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-form-label">Select 1 Picture</label>
                            <input asp-for="Images" class="form-control" multiple />
                            <span asp-validation-for="Images" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="m-auto text-center form-group">
                        <input type="submit" value="Register" class="btn btn-danger" />
                    </div>

                }
                <br />
                @if (ViewBag.ErrorMessage != null)
                {
                    <p class="text-danger">@ViewBag.ErrorMessage</p>
                }
                @Html.ActionLink("Click here to Login", "Login", "Authen", new {}, null)
            </div>
        </div>
    </div>
</body>
</html>
