﻿@using NovelLibrary.DataAccess
@model NovelLibrary.DataAccess.Novel
@inject IHttpContextAccessor HttpContextAccessor
@{
    int isLogin = (HttpContextAccessor.HttpContext.Session.GetInt32("isLogin") ?? 0);
    int id = (HttpContextAccessor.HttpContext.Session.GetInt32("UserId") ?? 0);
    User user = new User();
    if (id != 0)
    {
        ProjectLnContext context = new ProjectLnContext();
        user = context.Users.Where(u => u.Id == id).FirstOrDefault();
    }
}
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutNovel.cshtml";
}
<div class="container">
    <div class="d-flex">
        <div class="w-50">
            <div class="container">
                <h1>Novels Detail</h1>
                <div id="carouselExampleControls"
                     class="carousel slide text-center"
                     data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">

                            <img class="d-block w-100" src="data:image;base64,@System.Convert.ToBase64String(@ViewBag.CoverImg.ImageData)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-50">
            <div class="m-5">
                <div>
                    <h1>@Model.Name</h1>
                    <h3>Author: @Model.Author</h3>
                    <h4>Desription:</h4>
                    <p>@Model.Descripton</p>
                    <h4>Category:</h4>
                    <p>@ViewBag.CategoryName</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h4>Chapter list</h4>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Index
                    </th>
                    <th>
                        Chapter Name
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.ChapterList)
                {
                    <tr>
                        <td>
                            @item.Indexs
                        </td>
                        <td>
                            <a class="text-decoration: non" href="@Url.Action("ReadChapter","Chapter", new{id = @item.Id})" style="font-size: 25px; text-decoration: none">
                                @item.Name
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        @if(isLogin != 0) {
            <h4>Comment for Novel:</h4>
            <form class="d-flex input-group w-auto" action="/Novels/CommentNovel" method="Post">
                <input type="search"
                   class="form-control rounded"
                   placeholder="Your comment"
                   aria-label="Search"
                   aria-describedby="search-addon"
                   id="comment"
                   name="comment" />
                <input id="userId" name="userId" value="@user.Id" hidden>
                <input id="novelId" name="novelId" value="@Model.Id" hidden>
                <input type="submit" class="input-group-text border-0" id="search-addon" value="Submit comment">
            </form>
        }
    </div>
    <div>
        <h4>Chapter comments</h4>
        <hr />
        @if (ViewBag.CommentList.Count > 0) {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Avatar
                        </th>
                        <th>
                            Username
                        </th>
                        <th colspan="4">
                            Comment
                        </th>
                        <th>
                            Date
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.CommentList)
                    {
                        <tr>
                            <td>
                                <span>
                                    <img src="data:image;base64,@System.Convert.ToBase64String(item.Avatar)
                                 alt="Avatar"
                                 style="border-radius: 50%; box-shadow: 0 0 50px #ccc"
                                 width="50px"
                                 height="50px" />
                                </span>
                            </td>
                            <td>
                                @item.UserName
                            </td>
                            <td colspan="4">
                                @item.Comments
                            </td>
                            <td>
                                @item.Date
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>