﻿@model List<NovelLibrary.DataAccess.DTO.NovelShowDTO>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutNovel.cshtml";
}

<section style="background-color: #eee">
    <h1 class="p-3">List Novels</h1>
    <div class="container py-5">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
                    <div class="card text-black">
                        <img src="data:image;base64,@System.Convert.ToBase64String(item.ImageData)"
                         class="card-img-top"
                         alt="Product Image" />
                        <div class="card-body">
                            <div class="text-center mt-1">
                                <h4 class="card-title">@item.Name</h4>
                            </div>
                            <div class="d-flex flex-row">
                                <button type="button"
                                    class="btn btn-primary flex-fill me-1"
                                    data-mdb-ripple-color="dark"
                                    onclick="window.location.href='@Url.Action("Details","Novels", new { id = @item.Id})'">
                                    Read Online
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
